<%- include('layout/header', { title: 'TwiDDer - HomePage', isNav: true, list: true, isInputBlog: true }) %>

<div class="container margin-top-20">
    <div class="row">
        <div class="col-8">
            <%- include('widgets/input') %>

            <% if (blogData.isEmpty) { %>
                <div>
                    <center>Empty List</center>
                </div>
            <% } else { %>
                <div id="container-weibo-list" class="weibo-list">
                    <%- include('widgets/blog-list', {
                    blogList: blogData.blogList,
                    canReply: true
                    }) %>
                </div>

                <% if (blogData.count > blogData.blogList.length) { %>
                    <%- include('widgets/load-more', {
                    pageSize: blogData.pageSize,
                    pageIndex: blogData.pageIndex,
                    count: blogData.count,
                    containerSelector: '#container-weibo-list',
                    api: '/api/blog/loadMore',
                    }) %>
                <% } %>
            <% } %>

        </div>

        <div class="col-4">

            <div class="right-item">
                <%- include('widgets/user-info', {
                userInfo: userData.userInfo,
                isMe: true,
                amIFollowed: false,
                atCount: userData.atCount
                }); %>
            </div>

            <%- include('widgets/fans', {
            count: userData.fansData.count,
            userList: userData.fansData.list
            }) %>

            <%- include('widgets/followings', {
            count: userData.followingsData.count,
            userList: userData.followingsData.list
            }) %>
        </div>
    </div>
</div>

<%- include('layout/footer') %>
